**/vendor/
**/composer.json
**/composer.lock
**/bin/
**/obj/
**/*.csproj
**/package-lock.json
**/package.json
**/node_modules/
**/.vscode/
**/gradle/
**/.gradle/
**/bin/
**/gradlew
**/gradlew.bat
**/settings.gradle
**/src/test/
**/src/main/resources/
**/.gitattributes